ion-content {
    --background: linear-gradient(to bottom, #d10000, #4d0000);
    /* If IonContent automatically scrolls, you can try removing any extra padding */
  }

  

  
  .login-container {
      min-height: 100%;
      padding: 16px;
      background: #000; /* or a dark background for your design */
      color: #fff;       /* ensure text is visible */
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    
      h1 {
        font-family: 'Rokkitt', serif;
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 24px;
      }
    
      form {
        display: flex;
        flex-direction: column;
      }
    
      .forgot {
        font-family: 'Rokkitt', serif;
        margin: 8px 0;
        text-align: right;
        color: #ccc;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    
      mat-form-field {
        width: 100%;
        margin-bottom: 16px;
      }
    
      .or-divider {
        font-family: 'Rokkitt', serif;
        text-align: center;
        margin: 16px 0;
      }
    
      button {
        font-size: 14;
        font-family: 'Rokkitt', serif;
        color: #fff;
        width: 100%;
        margin-bottom: 8px;
      }
    
      .signup-link {
        font-family: 'Rokkitt', serif;
        text-align: center;
        margin-top: 16px;
    
        span {
          color: #1e88e5; /* or accent color */
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
