ion-content {
  --background: linear-gradient(to bottom, #d10000, #4d0000);
}

.welcome-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Black overlay at the bottom */
.bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: black;
  z-index: 1;
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  width: 100%;
}

.car {
  max-width: 600px;
  height: auto;
  object-fit: contain;
  z-index: 2;
}

.racer {
  position: absolute;
  bottom: 0;
  max-width: 90%;
  height: auto;
  object-fit: contain;
  transform: translateY(90%); 
}

.logo-container {
  position: absolute;
  bottom: 22%; 
  left: 50%;
  transform: translateX(-51%);
  z-index: 4; 
}

.logo-container img {
  width: 120px;
  height: auto;
}


.button-container {
  position: absolute; 
  bottom: 8%; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  z-index: 5; 
  width: 70%;
}


/* Primary button style */
button:first-child {
  background: linear-gradient(to right, #d10000, #4d0000);
  color: white;
  
}

/* Secondary button style */
button:last-child {
  background-color: #fbeaea;
  color: #800000;
}








