ion-content {
  --background: linear-gradient(to bottom, #d10000, #4d0000);
}

.welcome-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Black overlay at the bottom */
.bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: black;
  z-index: 1;
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
}

/* Car near the top, fairly large in portrait */
.car-image {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-65%);
  z-index: 2;

 
  width: 500vw;
  max-width: 600px; 
}

.car-image img {
  width: 110vw;
  height: 100%;
}


.racer-image {
  position: absolute;
  bottom: 30%; 
  left: 52%;
  transform: translateX(-60%);
  z-index: 3; 

  width: 80vw;
  max-width: 450px;
}

.racer-image img {
  width: 80vw;
  height: 100vw;
}


.logo-container {
  position: absolute;
  bottom: 22%; 
  left: 50%;
  transform: translateX(-51%);
  z-index: 4; 
}

.logo-container img {
  width: 120px;
  height: auto;
}


.button-container {
  position: absolute; 
  bottom: 8%; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  z-index: 5; 
  width: 70%;
}


/* Primary button style */
button:first-child {
  background: linear-gradient(to right, #d10000, #4d0000);
  color: white;
  
}

/* Secondary button style */
button:last-child {
  background-color: #fbeaea;
  color: #800000;
}



@media (orientation: portrait) {
  .car-image {
    width: 85vw;
  }
  .racer-image {
    width: 65vw;
  }
}
